@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:8px;
  font-weight: 600;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.right-links {
  display:flex;
  text-decoration: none;
  padding: 8px;
  gap:16px;
  font-size: 12px;
}

.left-links {
  display:flex;
  text-decoration: none;
  padding: 8px;
  gap: 16px;
  font-size: 12px;
  
}

.header {
  display:flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.footer {
  display:flex;
  background-color: #eeeeee;
  justify-content: space-between;
  flex-shrink: 0;
}

.container {
  display: flex;
  flex: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

a:link { text-decoration: none; color:black; font-weight: 500;}
a:visited {text-decoration: none; color:black; font-weight: 500;}
a:hover { text-decoration:none; color:black; font-weight: 500;}
a:active {text-decoration: none; color:black; font-weight: 500;}